pandas==2.2.3 --only-binary :all:
scikit-learn==1.6.1 --only-binary :all:
imbalanced-learn==0.8.1 --only-binary :all:
joblib==1.4.2 --only-binary :all:
ipykernel==6.29.5 --only-binary :all:
lxml==5.3.2 --only-binary :all:
html5lib==1.1 --only-binary :all:
matplotlib==3.7.1 --only-binary :all:
seaborn==0.12.2 --only-binary :all:
statsmodels==0.14.4 --only-binary :all:
xgboost==3.0.0 --only-binary :all:
lightgbm==4.6.0 --only-binary :all:
streamlit==1.44.0 --only-binary :all:
st-pages==0.4.5 --only-binary :all:
plotly==5.18.0 --only-binary :all:
nbformat==5.10.3 --only-binary :all:
nbconvert==7.11.0 --only-binary :all:
markdown-it-py==2.2.0 --only-binary :all:
mdit-py-plugins==0.3.3 --only-binary :all:
mistune<3.0.0 --only-binary :all:
holidays==0.26 --only-binary :all:
XlsxWriter==3.2.0 --only-binary :all:
numpy==1.23.4 --only-binary :all: 
tensorflow==2.13.0 --only-binary :all: